<div class="panel">
    <div class=" panel-primary" style="width:100%!important">
        <h2 class="panel-heading">CE CRCS Risk Assessment Report </h2>
    </div>
    <div class="form-group col-sm-12">
        <label class="control-label col-sm-2">IBR Customs Nbr:</label>
        <div class="col-sm-4">
            <input class="form-control" id="customsNor" type="text" />
        </div>
        <div class="col-sm-2">
            <button class='btn btn-primary' (click)="getVddlFormByCaseId()">Pre-Porpulate</button>
        </div>
    </div>
    <div class="col-md-6 col-lg-6">

        <form novalidate #riskAssment="ngForm">


            <div class="row">
                <div class="col-md-12">

                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default" hidden>
                            <div class="panel-heading" role="tab" id="headingZero">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseZero" aria-expanded="false" aria-controls="collapseZero">
                                                Checklist
                                          </a>
                                </h4>
                            </div>
                            <div id="collapseZero" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingZero">

                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Reg Particulars as per IBR Date
                              </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body divScroll">
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">Case Status:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" name="CaseRefNo" id='caseStatus' disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">Customs Code:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.RegistrationParticulars.CustomsCode" name="CustomsCode" id="customsCode" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">Registered Name:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.RegistrationParticulars.RegisteredName" name="RegisteredName" id="registeredName" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">Trading Name:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.RegistrationParticulars.TradingName" name="TradingName" id="tradingName" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">Nature of Business Income Tax:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.RegistrationParticulars.NatureOfBusinessIncomeTax" name="NatureOfBusinessIncomeTax" id="businessIncomeTax" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">Nature of Business Customs:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.RegistrationParticulars.NatureOfBusinessCustoms" name="NatureOfBusinessCustoms" id="businessCustoms" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">Postal Address::</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.RegistrationParticulars.PostalAddress" name="PostalAddress" id="postalAddress" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">Physical Address:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.RegistrationParticulars.PhysicalAddress" name="PhysicalAddress" id="physicalAddress" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">Telephone Nbr:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.RegistrationParticulars.TelNumber" name="TelNumber" id="telephoneNbr" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">Fax Nbr:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.RegistrationParticulars.FaxNumber" name="FaxNumber" id="faxNbr" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">Email Address:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.RegistrationParticulars.EmailAddress" name="EmailAddress" id="EmailAddress" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">Website Address:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.RegistrationParticulars.WebsiteAddress" name="WebsiteAddress" id="WebsiteAddress" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">Auditors (CIPC):</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.RegistrationParticulars.AuditorsCIPC" name="AuditorsCIPC" id="auditor" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">Attorneys:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.RegistrationParticulars.Attorneys" name="Attorneys" id="attorneys" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">Restricted Taxpayer:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.RegistrationParticulars.RestrictedTaxpayer" name="RestrictedTaxpayer" id="restrictedTaxpayer" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">Company Nbr:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.RegistrationParticulars.CompanyNbr" name="CompanyNbr" id="companyNbr" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">Income Tax Nbr:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.RegistrationParticulars.IncomeTaxNbr" name="IncomeTaxNbr" id="incomeTaxNbr" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">VAT Nbr:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.RegistrationParticulars.VATNumber" name="VATNumber" id="vatNbr" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">UIF Nbr:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.RegistrationParticulars.UIFNumber" name="UIFNumber" id="UIFNbr" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">SDL Nbr:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.RegistrationParticulars.SDLNumber" name="SDLNumber" id="sdlNbr" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">SAP Fin Nbr:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.RegistrationParticulars.SAPFinNumber" name="SAPFinNumber" id="SAPFinNbr" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">Linked customs codes:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.RegistrationParticulars.LinkedCustomsCode" name="LinkedCustomsCode" id="linkedCustomsCodes:" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">PAYE Nbr:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.RegistrationParticulars.PAYENumber" name="PAYENumber" id="PAYENbr" disabled type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                  Custome Reg Particulars carried on RAS
                              </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">Registration Type:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.CustomsRASParticulars.CustomsRASId" name="CustomsRASId" id="registrationType" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">Address:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.CustomsRASParticulars.Address" name="Address" id="address" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">Status:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.CustomsRASParticulars.Status" name="IBRCustomsNr" id="status" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">Date Active/Inactive:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.CustomsRASParticulars.DateActiveInActive" name="DateActiveInActive" id="dateActive" disabled type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  Director Details
                              </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">Company Nbr:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.DirectorDetails.CompanyNumber" name="CompanyNumber" id="companyNrb" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">Surname:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.DirectorDetails.Surname" name="Surname" id="surname" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">First Names:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.DirectorDetails.FirstNames" name="FirstNames" id="firstnames" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">ID No.</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.DirectorDetails.IDNumber" disabled name="IDNumber" id="IDNumber" type="number" />
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">Director Type:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.DirectorDetails.DirectorType" name="DirectorType" id="directorType" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">Director Status:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.DirectorDetails.DirectorStatus" name="DirectorStatus" id="directorStatus:" disabled type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                  Customer Turnover
                              </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="panel-body">
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">Ref Nbr:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.CustomsTurnOverDetails.ReferenceNumber" name="ReferenceNumber" id="refNbr" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">Cal Year:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.CustomsTurnOverDetails.CalendarYear" name="CalendarYear" id="calYear" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">Import Value:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.CustomsTurnOverDetails.ImportValue" name="ImportValue" id="importValue" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">Import Duty:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.CustomsTurnOverDetails.ImportDuty" name="ImportDuty" id="importDuty" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">Import VAT:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.CustomsTurnOverDetails.ImportVAT" name="ImportVAT" id="importVAT" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">Export Lines:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.CustomsTurnOverDetails.ExportLines" name="ExportLines" id="exportLines" disabled type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-3">Export Value:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="riskAssessmentData.CustomsTurnOverDetails.ExportValue" name="ExportValue" id="exportValue" disabled type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFive">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        Risk Statement
                                  </a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                <div class="panel-body divScroll">
                                    <form novalidate #RiskDetails="ngForm">

                                        <div class="form-group col-sm-12">
                                            <label class="control-label col-sm-3">Case Status:</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" name="RiskStatementId" id="RiskStatementId" #RiskStatementId="ngModel" type="text" [(ngModel)]="riskStatement.RiskStatementId" required/>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label class="control-label col-sm-3">Risk Area(s):</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" name="RiskAreaId" [(ngModel)]="riskStatement.RiskAreaId" #RiskAreaId="ngModel" required>
                                            <option></option>
                                            <option *ngFor="let riskAssessment of riskArealist" [value]="riskAssessment.RiskAreaId">{{riskAssessment.Description}}</option>
                                        </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label class="control-label col-sm-3">Number of risks per risk area:</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" id="numberofRisks" type="number" name="NumberOfRiskPerRiskArea" [(ngModel)]="riskStatement.NumberOfRiskPerRiskArea" #NumberOfRiskPerRiskArea="ngModel" required />
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label class="control-label col-sm-3">Recommendations:</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" id="recommendations" type="text" [(ngModel)]="riskStatement.Recommendations" name="Recommendations" required/>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label class="control-label col-sm-3">Risk Description:</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" id="riskDescription" type="text" [(ngModel)]="riskStatement.RiskDescription" name='RiskDescription' required/>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label class="control-label col-sm-3">Risk rating- Likelihood:</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" id='riskRatingsLikelihoodID' [(ngModel)]="riskStatement.RiskRatingLikelihoodId" name='RiskRatingLikelihoodId' required (change)="calculateOverallRiskRating()">
                                            <option></option>
                                            <option *ngFor="let riskRatingsLikelihood of riskRatingsLikelihoodList" [value]="riskRatingsLikelihood.Ratings">{{riskRatingsLikelihood.Description}}</option>
                                        </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label class="control-label col-sm-3">Risk rating- Consequence:</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" name="riskRatingsConcernrdID" id='riskRatingsConcernrdID' [(ngModel)]="riskStatement.RiskRatingConcernedId" required (change)="calculateOverallRiskRating()">
                                            <option></option>
                                            <option *ngFor="let riskRatingsConcerned of riskRatingsConcernedList" [value]="riskRatingsConcerned.Ratings">{{riskRatingsConcerned.Description}}</option>
                                        </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label class="control-label col-sm-3">Overall Risk Rating:</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" name="OveralRiskRating" disabled type="text" [(ngModel)]="riskStatement.OveralRiskRating" required/>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label class="control-label col-sm-3">HS chapter the risk applies to:</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" name="HSChapterAppliedToId" [(ngModel)]="riskStatement.HSChapterAppliedToId" required>
                                            <option></option>
                                            <option *ngFor="let HSChapterApplied of HSChapterAppliedList" [value]="HSChapterApplied.HSChapterAppliedID">{{HSChapterApplied.Description}}</option>
                                        </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label class="control-label col-sm-3">Estimated Revenue at risk:</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" name="EstimatedRevenueAtRisk" type="text" [(ngModel)]="riskStatement.EstimatedRevenueAtRisk" required/>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label class="control-label col-sm-3">Industry type:</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" name="industryID" [(ngModel)]="riskStatement.IndustryId" required>
                                            <option></option>
                                            <option *ngFor="let industry of industryList" [value]="industry.IndustryId">{{industry.Description}}</option>
                                        </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label class="control-label col-sm-8">In addition to Customs and Excise compliance risks, was any risks for any other tax types also identified in this Risk Assessment that would indicate that an integrated audit is required?:</label>
                                            <div class="col-sm-3">
                                                <select class="form-control" [(ngModel)]="riskStatement.IsIntegratedAuditRequired" name="IsIntegratedAuditRequired" required> 
                                            <option></option>
                                            <option value=True>Yes</option>
                                            <option value=False>No</option>
                                            
                                          </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label class="control-label col-sm-8">Does this Risk Assessment relate to any of the Tbd Compliance Programme or Customs focus areas?:</label>
                                            <div class="col-sm-3">
                                                <select class="form-control" [(ngModel)]="riskStatement.IsRelateToTbdComplianceOrCustomsFocusArea" name='IsRelateToTbdComplianceOrCustomsFocusArea' required>
                                            <option></option>
                                            <option value=True>Yes</option>
                                            <option value=False>No</option>
                                          </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <button class='btn btn-primary' style="float: right!important" (click)="onDoneEditDetails(riskAssessmentData,RiskDetails)">Done Edit</button>
                                            <button class='btn btn-primary' style="float: right!important" (click)="addRefDetails(RiskDetails)">Add Risk Statement</button>
                                        </div>

                                        <div class="form-group col-sm-10">
                                            <div class='table-responsive'>
                                                <table class='table'>
                                                    <thead class="panel-title">
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Case Status:</th>
                                                            <th>Number of Risk:</th>
                                                            <th>Risk rating - Likelihood:</th>
                                                            <th>Estimated Revenue at risk</th>
                                                            <th>Edit</th>
                                                            <th>Delete</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let item of items;let i = index">
                                                            <td>{{i}}</td>
                                                            <td>{{item.RiskAreaId}}</td>
                                                            <td>{{item.NumberOfRiskPerRiskArea}}</td>
                                                            <td>{{item.RiskRatingLikelihoodId}}</td>
                                                            <td>{{item.EstimatedRevenueAtRisk}}</td>
                                                            <td>
                                                                <button class='btn btn-primary' (click)='onRefDetailsEdit(item, RiskDetails, i)'>Edit</button>
                                                            </td>
                                                            <td>
                                                                <button class='btn btn-danger' (click)='onRefDetailsRemove(item)'>Delete</button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- pager -->
                                            <div class="btn-toolbar" role="toolbar" style="margin: 0;">
                                                <div class="btn-group">
                                                    <label style="margin-top:10px">Page {{currentIndex}}/{{pageNumber}}</label>
                                                </div>
                                                <div class="btn-group pull-right">
                                                    <ul class="pagination">
                                                        <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}">
                                                            <a (click)="prevPage()">Prev</a>
                                                        </li>
                                                        <li *ngFor="let page of pagesIndex" [ngClass]="{'active': (currentIndex == page)}">
                                                            <a (click)="setPage(page)">{{page}}</a>
                                                        </li>
                                                        <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}">
                                                            <a (click)="nextPage()">Next</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default" hidden>
                            <div class="panel-heading" role="tab" id="headingSix">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        Checklist
                                  </a>
                                </h4>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div id='RA_Fields' hidden>
                <button class='btn btn-primary' (click)="onSave(riskAssessmentData)">Save</button>
                <button class='btn btn-primary' [disabled]="!riskAssment.valid" (click)=onsubmit(riskAssessmentData)>Submit</button>
                <button class='btn btn-primary' (click)="onCancel()">Cancel</button>
            </div>

            <div id='RA_Approval'>
                <button class='btn btn-primary' (click)="onAccept(riskAssessmentData)">Accept</button>
                <button class='btn btn-primary' (click)="onrework(riskAssessmentData)">Rework</button>
                <button class='btn btn-primary' (click)="onAddNote()">Add Note</button>
                <button class='btn btn-primary' (click)="onReject(riskAssessmentData)">Reject</button>
                <button class='btn btn-primary' (click)="onCancel()">Allocate to QA</button>
            </div>

        </form>
    </div>

    <!-- <div class="col-md-6 col-lg-6">
        <div class="row" style="margin-top:30px;">
            <div class="panelprimary">
                <div class="panelheader">
                    Select Documents
                </div>
                <div class="panelcontainer" style="overflow: hidden !important;">
                    <app-document-upload></app-document-upload>
                </div>
            </div>
            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix"></div>
        </div>
    </div> -->

    <div class="col-md-6 col-lg-6">
        <div class="row" style="margin-top:30px;">
            <div class="panelprimary">
                <div class="panelheader">
                    Select Documents
                </div>
                <div class="panelcontainerhalf" style="overflow: hidden !important;">
                    <app-document-upload></app-document-upload>
                </div>
                <div class="panelheader">
                    View Comments
                </div>
                <div class="panelcontainerhalf" style="overflow: hidden !important;">
                    <app-comments-view id="commentsview"></app-comments-view>
                </div>
            </div>
        </div>
    </div>

</div>