<div class="container" >
    <div class="row">   
      <div class="col-lg-8 col-md-8">
        <h3>Notes</h3>
        <p>Number Of Notes: {{commentItems.length }}</p>
        <div class="listBorderTop">
            <div class="row" style="margin-top: 5px;">
                <div class="col-lg-7 col-md-7">
                    <label class="boldtext">Name</label>
                </div>
                <div class="col-lg-3 col-md-3">
                    <label class="boldtext">Date</label>
                </div>
                <div class="col-lg-2 col-md-2">
                    <label class="boldtext">User</label>
                </div>                
            </div>
        </div>
        <div class="listBorderBottom">
            <div *ngFor="let noteItem of commentItems; let i = index" class="row tableoutline" (click)="noteClicked(noteItem)">
                <div class="col-lg-7 col-md-7">
                    <div class="tablebox">
                        <strong>{{noteItem.Reason| slice:0:20}}{{noteItem.Reason.length > 20 ? '  (...)' : ''}}</strong>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="tablebox">
                        {{noteItem.DateCreated | date : "dd MMMM yyyy" }}
                    </div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <div class="tablebox">
                        {{noteItem.CreatedBy }}
                    </div>
                </div>              
            </div>

        </div>        
      </div>
    </div>   
</div>