<div class="panel">
  <div class=" panel-primary" style="width:80vw">
    <h2 class="panel-heading">Complete Audit Plan Template</h2>
  </div>
  <div class="panel-group" id="AuditPlanAccordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" style="color:white">Audit Plan Template</a>
        </h4>
      </div>

      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">
          <h3 style="text-align:center">Section 1</h3>
          <hr/>
          <div class="form-group col-sm-12">
            <label class="control-label col-sm-3">Case Status:</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" disabled/>
            </div>
          </div>
          <div class="form-group col-sm-12">
            <label class="control-label col-sm-3">Risk Assessment Report:</label>
            <div class="col-sm-7">
              <select class="form-control">
                <option></option>
              </select>
            </div>
          </div>
          <div class="form-group col-sm-12">
            <label class="control-label col-sm-3">VD/DL:</label>
            <div class="col-sm-7">
              <select class="form-control">
                <option></option>
              </select>
            </div>
          </div>
          <div class="form-group col-sm-12">
            <label class="control-label col-sm-3">Audit Required:</label>
            <div class="col-sm-7">
              <select class="form-control">
                <option></option>
              </select>
            </div>
          </div>
          <br/>
          <h3 style="text-align:center">Section 2</h3>
          <hr/>
          <div class="form-group col-sm-12">
            <label class="control-label col-sm-3">Type Of Audit:</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" />
            </div>
          </div>
          <div class="form-group col-sm-12">
            <label class="control-label col-sm-3">Start Date:</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" />
            </div>
          </div>
          <div class="form-group col-sm-12">
            <label class="control-label col-sm-3">Audit Scope:</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" />
            </div>
          </div>
          <div class="form-group col-sm-12">
            <label class="control-label col-sm-3">Audit Objectives:</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" />
            </div>
          </div>
          <br/>
          <h3 style="text-align:center">Section 3 - Trader Overview</h3>
          <hr/>
          <div class="form-group col-sm-12">
            <label class="control-label col-sm-4">Was the Trader previously audited?</label>
            <div class="col-sm-4">
              <div class="radio">
                <label>
                  <input type="radio">Yes</label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio">No
                </label>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12">
            <label class="control-label col-sm-4">Is there an existing Audit or Investigation underway for this Trader?</label>
            <div class="col-sm-4">
              <div class="radio">
                <label>
                  <input type="radio">Yes</label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio">No
                </label>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12">
            <label class="control-label col-sm-4">Is the trader a new importer/Exporter?</label>
            <div class="col-sm-4">
              <div class="radio">
                <label>
                  <input type="radio">Yes</label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio">No
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" >CheckList</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="form-group col-sm-12">
            <label class="control-label col-sm-4">Is the report accurate?</label>
            <div class="col-sm-4">
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                </label>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12">
            <label class="control-label col-sm-4">Has the report been constructed in an objective and informative manner?</label>
            <div class="col-sm-4">
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                </label>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12">
            <label class="control-label col-sm-4">Is the report clear?</label>
            <div class="col-sm-4">
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                </label>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12">
            <label class="control-label col-sm-4">Obtain copies of rulings relating to any principal tariff items used?</label>
            <div class="col-sm-4">
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                </label>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12">
            <label class="control-label col-sm-4">Is the report concise?</label>
            <div class="col-sm-4">
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                </label>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12">
            <label class="control-label col-sm-4">Is the report Constructive?</label>
            <div class="col-sm-4">
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                </label>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12">
            <label class="control-label col-sm-4">Is the report Complete?</label>
            <div class="col-sm-4">
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                </label>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12">
            <label class="control-label col-sm-4">Has the timely aspect been followed?</label>
            <div class="col-sm-4">
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Risk Assessment Amendments</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="form-group col-sm-12">
            <label class="control-label col-sm-3"></label>
            <div class="col-sm-7">
              <div class="radio">
                <label>
                  <input type="radio">Add Risk not identified</label>
              </div>
            </div>
            <div class="form-group col-sm-12">
              <label class="control-label col-sm-3">Case Status:</label>
              <div class="col-sm-7">
                <input class="form-control" type="text" disabled/>
              </div>
            </div>
            <div class="form-group col-sm-12">
              <label class="control-label col-sm-3">Risk Areas:</label>
              <div class="col-sm-7">
              </div>
            </div>
            <div class="form-group col-sm-12">
              <label class="control-label col-sm-3">Number Of risks per area:</label>
              <div class="col-sm-7">
                <input class="form-control" type="text" disabled/>
              </div>
            </div>
            <div class="form-group col-sm-12">
              <label class="control-label col-sm-3">Risk Description:</label>
              <div class="col-sm-7">
                <input class="form-control" type="text" disabled/>
              </div>
            </div>
            <div class="form-group col-sm-12">
              <label class="control-label col-sm-3">Recommendations:</label>
              <div class="col-sm-7">
                <input class="form-control" type="text" disabled/>
              </div>
            </div>
            <div class="form-group col-sm-12">
              <label class="control-label col-sm-3">Risk Rating-Likelihood:</label>
              <div class="col-sm-7">
                <input class="form-control" type="text" disabled/>
              </div>
            </div>
            <div class="form-group col-sm-12">
              <label class="control-label col-sm-3">Risk Rating-Concerned:</label>
              <div class="col-sm-7">
                <input class="form-control" type="text" disabled/>
              </div>
            </div>
            <div class="form-group col-sm-12">
              <label class="control-label col-sm-3">Overall Risk Rating:</label>
              <div class="col-sm-7">
                <input class="form-control" type="text" disabled/>
              </div>
            </div>
            <div class="form-group col-sm-12">
              <label class="control-label col-sm-3">HS chapter the risk applies to:</label>
              <div class="col-sm-7">
                <input class="form-control" type="text" disabled/>
              </div>
            </div>
            <div class="form-group col-sm-12">
              <label class="control-label col-sm-3">Estimated Revenue Risk:</label>
              <div class="col-sm-7">
                <input class="form-control" type="text" disabled/>
              </div>
            </div>
            <div class="form-group col-sm-12">
              <label class="control-label col-sm-3">Industry:</label>
              <div class="col-sm-7">
                <input class="form-control" type="text" disabled/>
              </div>
            </div>
            <div class="form-group col-sm-12">
              <label class="control-label col-sm-3">Finding:</label>
              <div class="col-sm-7">
                <textarea class="form-control" type="text">
                                    </textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div style="text-align:center">
      <button class='btn btn-primary'>Complete Checklist</button>
      <button class='btn btn-primary'>Approve</button>
      <button class='btn btn-primary'>Rework</button>
      <button class='btn btn-primary'>Reject</button>
      <button class='btn btn-primary'>Add Notes / Comments</button>
    </div>
  </div>