<div class="row ">
    <div class=" panel-primary">
        <h2 class="panel-heading">{{viewTitle}}</h2>
    </div>

    <div class="panelprimary" style="margin-top:-10px !important; margin-right:0px !important">
        <div class="panelcontainer hidescroll">

            <div class="panel col-md-6 col-lg-6" style="margin-top: -8px !important">
                <form novalidate #vddlform="ngForm">
                    <div class="row">
                        <div class="panelprimary">
                            <div class="panelheader">
                                VD/DL Details
                            </div>
                            <div class="panelcontainer" style="height: 74vh !important;">
                                <div class="form-group col-sm-12">
                                    <label class="control-label col-sm-2">Case Ref No:</label>
                                    <div class="col-sm-10">
                                        <input type="text" disabled class="form-control" [(ngModel)]="vddlData.VddlDetails.CaseRefNo" name="CaseRefNo" />
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="control-label col-sm-2">Case Status:</label>
                                    <div class="col-sm-10">
                                        <!-- <input class="form-control" disabled type="text" /> -->
                                        <label class="form-control col-sm-2">NEW</label>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="control-label col-sm-2">Customs Excise:</label>
                                    <div class="col-sm-3">
                                        <select class="form-control" required placeholder="Please make a select" [(ngModel)]="vddlData.VddlDetails.CustomsExciseId" name="CustomsExciseId" #customsExciseId="ngModel">
                                            <option></option>
                                            <option *ngFor="let customsExciseList of customsExciseLists" [value]="customsExciseList.CustomsExciseId">{{customsExciseList.Description}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="control-label col-sm-2">Customs Excise Code</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" maxlength="20" [(ngModel)]="vddlData.VddlDetails.CustomsExciseCode" name="CustomsExciseCode" #customsExciseCodeRef="ngModel" required />

                                        <div [hidden]="customsExciseCodeRef.valid || customsExciseCodeRef.pristine" class="alert alert-danger">
                                            Please Enter the Customs Excise Code
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="control-label col-sm-2">Company Registered Number:</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" maxlength="20" required [(ngModel)]="vddlData.VddlDetails.CompanyRegisteredNumber" name="CompanyRegisteredNumber" #companyRegisteredNumberRef="ngModel" />
                                        <div [hidden]="companyRegisteredNumberRef.valid || companyRegisteredNumberRef.pristine" class="alert alert-danger">
                                            Please Enter Company Registere dNumber
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="control-label col-sm-2">Trading Name:</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" maxlength="100" required [(ngModel)]="vddlData.VddlDetails.TradingName" name="TradingName" #tradingName="ngModel" />
                                        <div [hidden]="tradingName.valid || tradingName.pristine" class="alert alert-danger">
                                            Please Enter Trading Name
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="control-label col-sm-2">Income Tax:</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="number" field-length="10" required [(ngModel)]="vddlData.VddlDetails.IncomeTax" name="IncomeTax" #incomeTax="ngModel" (blur)="incomeValidation(incomeTax)" />
                                        <div [hidden]="incomeTax.valid || incomeTax.pristine" class="alert alert-danger">
                                            Please Enter Income Tax
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="control-label col-sm-2">VAT Number:</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="number" maxlength="10" required [(ngModel)]="vddlData.VddlDetails.VATNumber" name="VATNumber" #vatNumber="ngModel" (blur)="vatValidation(vatNumber)" />
                                        <div [hidden]="vatNumber.valid || vatNumber.pristine" class="alert alert-danger">
                                            Please Enter Vat Number
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="control-label col-sm-2">Entries Involved:</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" maxlength="2000" type="text" required [(ngModel)]="vddlData.VddlDetails.EntriesInvolved" name="EntriesInvolved" #instructions="ngModel">
                                        </textarea>
                                        <div [hidden]="instructions.valid || instructions.pristine" class="alert alert-danger">
                                            Please Enter Entries Involved
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="control-label col-sm-2">Total amount due to Tbd:</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="number" maxlength="20" required [(ngModel)]="vddlData.VddlDetails.TotalAmountDue" name="TotalAmountDue" #totalAmountDue="ngModel" />
                                        <div [hidden]="totalAmountDue.valid || totalAmountDue.pristine" class="alert alert-danger">
                                            Please Enter total Amount Due
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="control-label col-sm-2">Total Amount Involved:</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="number" maxlength="20" required [(ngModel)]="vddlData.VddlDetails.TotalAmountInvolved" name="TotalAmountInvolved" #totalAmountInvolved="ngModel" />
                                        <div [hidden]="totalAmountInvolved.valid || totalAmountInvolved.pristine" class="alert alert-danger">
                                            Please Enter Total Amount Involved
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="control-label col-sm-2">Duty Amount:</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="number" maxlength="20" required [(ngModel)]="vddlData.VddlDetails.DutyAmount" name="DutyAmount" #dutyAmount="ngModel" />
                                        <div [hidden]="dutyAmount.valid || dutyAmount.pristine" class="alert alert-danger">
                                            Please Enter Duty Amount
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="control-label col-sm-2">VAT Amount:</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="number" maxlength="10" required [(ngModel)]="vddlData.VddlDetails.VATAmount" name="VATAmount" #vATAmount="ngModel" />
                                        <div [hidden]="vATAmount.valid || vATAmount.pristine" class="alert alert-danger">
                                            Please Enter VAT Amount
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="control-label col-sm-2">Interest:</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="number" maxlength="20" required [(ngModel)]="vddlData.VddlDetails.Interest" name="Interest" #interest="ngModel" />
                                        <div [hidden]="interest.valid || interest.pristine" class="alert alert-danger">
                                            Please Enter Interest
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="control-label col-sm-2">Instruction:</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" maxlength="2000" type="text" required [(ngModel)]="vddlData.VddlDetails.Instructions" name="Instructions" #instructions="ngModel">
        </textarea>
                                        <div [hidden]="instructions.valid || instructions.pristine" class="alert alert-danger">
                                            Please Enter Instructions
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="control-label col-sm-2">Origin of Case Client/Company:</label>
                                    <div class="col-sm-3">
                                        <select class="form-control" required placeholder="Please make a select" [(ngModel)]="vddlData.VddlDetails.OriginofCaseId" name="OriginofCaseId" #originofCaseId="ngModel">
                                            <option></option>
                                            <option *ngFor="let origincase of originCaseList" [value]="origincase.OriginofCaseId">{{origincase.Description}}</option>
                                        </select>
                                    </div>
                                </div>
                                <br/>
                            </div>
                            <div style="padding-left:10px">
                                <div class="row buttoncontainer">
                                    <div class="col-md-12 col-lg-12">
                                        <button class='btn btn-primary' (click)="onSave(vddlData)" [disabled]="!vddlform.valid">Save</button>
                                        <button class='btn btn-primary' *ngIf="fromView!='auditPlan' || fromView!='approvedauditplansview'" [disabled]="!vddlform.valid" (click)=onsubmit(vddlData)>Submit</button>
                                        <button class='btn btn-primary' *ngIf="fromView!='auditPlan' || fromView!='approvedauditplansview'" (click)="onCancel()">Cancel</button>
                                        <button class='btn btn-primary' *ngIf="fromView!='auditPlan'" [disabled]="vddlData.VddlDetails.CaseId == null" (click)="onAddNote()">Add Note</button>
                                        <button class='btn btn-primary' *ngIf="fromView!='auditPlan'" [disabled]="vddlData.VddlDetails.CaseId == null" (click)="onPend()">Pend Case</button>
                                        <button class='btn btn-primary' *ngIf="fromView=='auditPlan' ||  fromView=='approvedauditplansview'" (click)="goBack()">Go Back</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-6 col-lg-6">
                <div class="row" style="margin-top:-7px;">
                    <div class="panelprimary">
                        <div class="panelheader">
                            Select Documents
                        </div>
                        <div class="panelcontainerhalf" style="overflow: hidden !important;">
                            <app-document-upload></app-document-upload>
                        </div>
                        <div class="panelheader" style="margin-top: 13px;" *ngIf="fromView!='auditPlan'">
                            View Comments
                        </div>
                        <div class="panelcontainerhalf" style="overflow: hidden !important;" *ngIf="fromView!='auditPlan'">
                            <app-comments-view id="commentsview" [caseID]="commentsCaseId"></app-comments-view>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>