<div class="panel">
    <div class=" panel-primary" style="width:100%!important">
        <h2 class="panel-heading">555555</h2>
    </div>
    <div class="col-md-6 col-lg-6">
        <div class="row" style="margin-top:30px;">
            <div class="panelprimary">
                <div class="panelheader">
                    View Comments
                </div>
                <div class="panelcontainer" style="overflow: hidden !important;">
                    <!-- <app-comments-view></app-comments-view> -->
                </div>
            </div>
        </div>
    </div>
</div>