.panelprimary{
    margin-right: 10px;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.panelheader {

    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #337ab7;
    color: white;
    overflow-x: hidden !important;
    overflow-y: hidden !important;

}

.panelcontainer {    

    height: 74vh;
    overflow-x: hidden !important;
    overflow-y: auto;
    padding: 10px;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    display: flow-root;
    border: 1px solid #c6c6c6;
    padding-bottom: 90px !important;

}

.buttoncontainer{
    background-color: #d1d4d7;
    border-top: 3px solid #85a5c0;
    bottom: 0px;
    position: absolute;
    width: 100%;
    margin-left: -18px;
    padding: 12px;
}

.buttoncontainer .btn-primary{
    margin-left: 7px;
}

/* width */
::-webkit-scrollbar {
    width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #85a5c0;
    border-radius: 0px;
}



/* Duplicated document upoader*/

.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }

html, body { height: 100%; }

.tablebox{
    padding: 5px;
     background: none !important;
    // border-right: 1px solid #337ab7;
}
.tableoutline:hover {
    background: #d6e4f0 !important;
}

.tableoutline {
    border-top: 1px solid #337ab7;
}

.boldtext {
    font-weight: bold;
    font-size: 17px;
}

.listBorder{
    border: 3px solid #337ab7;
    padding-left: 16px;
    padding-right: 16px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 57vh;
}

             /* width */
            
             ::-webkit-scrollbar {
                width: 9px;
              }
            
              /* Track */
            
              ::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px grey;
                border-radius: 10px;
              }
            
              /* Handle */
            
              ::-webkit-scrollbar-thumb {
                background: #85a5c0;
                border-radius: 0px;
              }

              input.ng-invalid{
                border-left:5px solid red;
            }
            input.ng-valid{
                border-left:5px solid green;
            }
            textarea.ng-invalid{
                border-left:5px solid red;
            }
            textarea.ng-valid{
                border-left:5px solid green;
            }
            
            select.ng-invalid{
                border-left:5px solid red;
            }
            select.ng-valid{
                border-left:5px solid green;
            }